* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: #3397d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cont {
    height: 400px;
    width: 350px; 
    border: 10px solid #bebfbe;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
}

.btn{
    width: 350px;
    height: 40px;
    border-radius: 20px;
    border: none;
    text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
    background-color: #ffffff;
    color: #3397d3;
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn::after {
    content: "share";
}
#pic {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.non {
    width: 250px;
    height: auto;
    position: absolute;
    bottom: 10px;
    display: none;
}
.text {
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    margin: 5px 0px ;
}
.io {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ic {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border:1px solid #ffffff;
    font-size: 20px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#aro {
    height: 20px;
}
.ic:hover {
    background-color: #ffffff;
    color: #3397d3;
    cursor: pointer;
}
.btn:hover {
    cursor: pointer;
}

#show:checked ~ .cont .non {
    display: block;
}

#show:checked ~ .btn {
    margin-top: 20px;  
}

#show:checked ~ .btn::after {
    content: "cancel";
}
